.container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--popup-background-color);
    z-index: 9999;
}

.warpper{
    width: 800px;
    height: 86%;
    padding: 30px;
    background: var(--elements--main);
    border-radius: 10px;
    box-shadow: var(--box-shadow-out-md);
}

.body{
    height: calc(100% - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 4px;
}
.footer{
    vertical-align: bottom;
    margin-top: 10px;
    text-align: end;
}
.footer > button{
    margin-left: 16px;
}





