.popupContainer{
    width: 100%;
    height: 100%;
    background-color: var(--popup-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupWrapper{
    max-width: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--elements--main);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow-out-md);
}

.popupBody{
    width: 100%;
    height: calc(100% - 42px);
    /* padding: 30px; */
    /* background: #eee; */
    /* border-radius: 4px; */
    box-sizing: border-box;
}

.header{
    color: #000;
    font-size: 28px;
    text-align: start;
    margin-bottom: 12px;
    font-weight: 500;
}

.text{
    color: #121212;
    font-size: 20px;
    text-align: start;
}

.popupBtnWrapper{
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: end;
    margin-top: 20px;
}

.popupBtnWrapper button{
    margin: 0 8px;
}