.container{
    height: 100%;
    padding: 20px;
}

.tabelWrapper{
    height: calc(100% - 90px);
}
.tabelWrapper table thead tr th:nth-child(1),
.tabelWrapper table tbody tr td:nth-child(1) {
    width: 60px;
}
.toChat{
    padding: 16px;
    border-radius: 50%;
    position: fixed;
    top: 16px;
    right: 16px;
    border: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    background: #D4F1F4;
}